/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*АНИМАЦИЯ В ШАПКЕ*/

.theme-menu__button:hover, .theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  transition: scale 0.3s ease;
  transform-origin: left;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

@keyframes arrow-animation {
  from {
    left: -24px;
  }
  to {
    left: -20px;
  }
}

/*АНИМАЦИЯ В ШАПКЕ*/

/*АНИМАЦИЯ КНОПОК*/

.card__like-button:focus, .save-button:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  outline: none;
}

.card__like-button::after, .save-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:focus-visible, 
.save-button:focus-visible {
  outline: none;
}

.card__like-button:hover:after, 
.save-button:hover::after {
  transform: scaleX(1);
}

/**/

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  
  outline: 2px solid var(--accent-color);
}

/*АНИМАЦИЯ КНОПОК*/

/*АНИМАЦИЯ ИКОНЦИ СЕРДЦА*/

.sparks {
  opacity: 0;
}

/*АНИМАЦИЯ ИКОНЦИ СЕРДЦА*/

/*АНИМАЦИЯ СЕРДЦА*/

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--conterColor);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--conterColor);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--colorFillActive);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--colorFillActive);
  transition: fill 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--colorFillActive);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core, .like-icon.is-liked .main-body {
  fill: var(--colorFillActive);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 2 alternate ease-in 0.1s;
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s 2 alternate ease-in 0.3s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon .contour {
  fill: var(--conterColor);
  transition: fill 0.1s;
}

/*АНИМАЦИЯ СЕРДЦА*/